@import "../../public/fonts/fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";

:root {
    --max-width: 1800px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;

    font-family: "TT Hoves", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

main {
    @include max-width-1210px;
    flex: 1 1 auto;

    width: 100%;
    padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;

    color: $titleColor;
}

.main__text {
    font-size: 16px;
    line-height: 24px;

    &-2 {
        font-size: 13px;
        line-height: 20px;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

li {
    list-style: none;
}

.scrollOff {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 120px;
    width: 100%;
}

.otherPages {
    @include flex-container-center;
    flex-direction: column;

    & > h1 {
        margin-bottom: 50px;
    }
}

@import "./media.scss";
