@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
    h2 {
        font-size: 46px;
        line-height: 46px;
    }
}

@media (max-width: 900px) {
    h1,
    h3,
    h4,
    h5 {
        font-size: 48px;
        line-height: 48px;
    }

    .section__title {
        text-align: center;
    }

    .swiper-pagination {
        bottom: 10%;
        left: 0;

        width: 142px;
        font-size: 16px;
        line-height: 16px;

    }

    .about {
        padding: 30px 30px 30px 60px;
    }


}