$mainColor: #333;
$titleColor: #BDBDBD;
$borderColor: #F2F2F2;
$mainBackgroundColor: #FFFFFF;
$formErrorColor: #C30000;
$formBackgroundColor: #F3F3F3;
$formPlaceholderColor: #8D8D8D;
$secondaryBackgroundColor: #FBFBFB;
$footerBorderColor: rgba(255, 255, 255, 0.1);
$footerBackgroundColor: #2C2C2C;
$footerTextColor: rgba(200, 200, 200, 0.50);