@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.slider {
    position: relative;
    width: 100%;
    @include flex-container-space-between;
}

.swiper-pagination {
   @include flex-container-space-around;
    bottom: 20%;
    left: 0;

    width: 142px;

    font-family: "TT Hoves", sans-serif;
    font-size: 24px;
    line-height: 24px;

    color: $titleColor;
}

.mySwiper {
    &__title {
        text-transform: uppercase;
    }
    &__title-dec {
        font-weight: 700;

        color: $mainColor;
    }
    
    &__content {
        position: absolute;
        top: 50%;
        left: 0;

        z-index: 10;

        transform: translate(0, -50%);
    }

    &__slide {
        width: 100%;
        @include flex-container-space-between;
    }

    &__image {
        position: relative;

        width: 60%;
        height: 100%;

        object-fit: cover;
    }
}

@media (max-width: 900px) {
    .swiper-pagination {
        bottom: 10%;
        left: 0;

        width: 142px;
        font-size: 21px;
        line-height: 21px;

    }
}