@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.header {
    @include flex-container-space-between;
    @include max-width-1210px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    padding: 30px 20px;

    background: white;
}